* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
}

#nav {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

#nav p {
  margin: 4px;
}

#nav h2 {
  margin: 0;
  font-size: 1.5em;
}

#nav input {
  margin-left: 20px;
}
 
.chart-container {
  display: inline-block;
  width: 45%;
  margin: 1% 2%;
  vertical-align: top;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  border: 8px solid #38767c;
  background-color: #75EAF2;
  padding: 10px;
  border-radius: 8px;
}

.tooltip p {
  margin: 2px;
}

.tooltip:after {
  content: ' ';
  position: absolute;
  left: 50%;
  border: 8px solid transparent;
  border-top-color: #38767c;
  bottom: -24px;
  margin-left: -4px;
}

.country {
  stroke: none;
}

.country:hover {
  cursor: pointer;
}

.country.active {
  stroke: dodgerblue;
  stroke-width: 2px;
}

.y-axis-label {
  font-size: 0.8em;
}

.tick text {
  font-size: 1.5em;
}

